html,
body {
    height: 100%;
}





.carrusel {
    margin-top: 55px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navC {
    background-color: #F2FAEF;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.navC ul li a {
    color: blue;
}

.navC2 {
    background-color: #eb5e28;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.linea {
    border: 1px solid red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 0.5rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
 
}

.overview h3 {
    color: #eb5e28;
    font-size: 17px;
    
}

.overview h4 {
    font-size: 14px;
}

.peliculas {
    position: relative;
    overflow: hidden;
   
    
}

.peliculas img {
    width: 100%;
    height: 100%;
}

.peliculas:hover .overview {
    transform: translateY(0)
}




.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.oculto {
    display: none;
}

.izq {
    display: inline-block;
}

#contHistorial .img {
    width: 50px;
    height: 50px;
}


